<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086389105589-cqo0ou4c4l6b8id64idkfa5m5ucvh8h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086389105589-cqo0ou4c4l6b8id64idkfa5m5ucvh8h4</string>
	<key>API_KEY</key>
	<string>AIzaSyBsHJOwbX_Jt3SVMYd_kb88DaoMzmn_69A</string>
	<key>GCM_SENDER_ID</key>
	<string>1086389105589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aeladrin.heartCompass</string>
	<key>PROJECT_ID</key>
	<string>heart-compass-ca01b</string>
	<key>STORAGE_BUCKET</key>
	<string>heart-compass-ca01b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086389105589:ios:635771797ecde4f081dffc</string>
	<key>DATABASE_URL</key>
	<string>https://heart-compass-ca01b-default-rtdb.firebaseio.com</string>
</dict>
</plist>